<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alquiler de equipos deportivos</title>
    <!-- Enlace a hoja de estilos CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/css/boxicons.min.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    
    <header>
        <a href="#" class="logo">Alquiler de<span> equipos deportivos</span></a>
        <ul class="navbar">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#equi">Equipos</a></li>
            <li><a href="#">Alquiler</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
        <div class="h-derecha">
            <a href="#">Síguenos</a>
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-whatsapp'></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <section class="home" id="home">
        <div class="home-text">
            <h5 id="typed">Elije</h5>
            <h1>El equipo que desees</h1>
            <p>El equipo está integrado por 6 jugadores, y juegan profesionalmente,<br> los cuales son entrenados por profesionales.</p>
            <a href="#" id="btn-reserva" class="btn">Reserva tu equipo</a>
        </div>
    </section>

    <section class="columnas" id="equi">
        <div data-aos="zoom-in-up" class="col-content">
            <div class="row">
                <div class="row-img">
                    <img src="static/clientes/img/futbol.jpg">
                </div>
                <h4>Equipos</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="static/clientes/img/futbol2.jpg">
                </div>
                <h4>Equipo 1</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="static/clientes/img/futbol3.jpg">
                </div>
                <h4>Equipo 2</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="static/clientes/img/futbol4.jpg">
                </div>
                <h4>Equipo 3</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="static/clientes/img/futbol5.jpg">
                </div>
                <h4>Equipo 4</h4>
            </div>
        </div>
    </section>

    <section class="columna2">
        <div data-aos="zoom-in-right" class="col_conte2">
            <div class="row1">
                <div class="row-img1">
                    <img src="static/clientes/img/fut.png" alt="Imagen de futbol">
                </div>
            </div>
            <div class="row1">
                <div class="home-text1">
                    <h5 id="typed2">Oferta del equipo</h5>
                    <h1>Aparta tu equipo</h1>
                    <p>Haz tu reservación de tu equipo favorito con anticipación.</p><br> Y tendrás un descuento adicional.</p>
                    <a href="#" id="btn-aceptar" class="btn_2">Aceptar</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer>
        <div data-aos="zoom-in-right" class="footer-content">
            <h3>Deportes VID</h3>
            <p>Somos los mejores en equipos de deportes</p>
            <ul class="socials">
                <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                <li><a href="#"><i class='bx bxl-whatsapp'></i></a></li>

            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; Deportes Vid</p>
        </div>
    </footer>

</body>

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="static/clientes/js/script.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>
