<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alquiler de equipos deportivos </title>
    <!--Enlace a hoja de estilos CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/boxicons.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    
    <header>
        <a href="#" class="logo">Alquiler de<span> equipos deportivos</span></a>
        <ul class="navbar">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#equi">Equipos</a></li>
            <li><a href="#">Alquiler</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
        <div class="h-derecha">
            <a href="#">Siguenos</a>
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-whatsapp' ></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    <section class="home" id="home">
        <div class="home-text">
            <h5 id="typed">Elije</h5>
            <h1> El quipo que desees</h1>
            <p>El equipo esta integrado por 6 jugadores, y juegan profesionalmente, <br> el cual son entrenados por profesionales
            </p>
            <a href="#" id = "btn-reserva" class="btn">Reserva tu equipo</a>
        </div>
    </section>
    <section class="columnas" id="equi">
        <div data-aos="zoom-in-up" class="col-content">
            <div class="row">
                <div class="row-img">
                    <img src="img/futbol.jpg">

                </div>
                <h4>Equipos</h4>

            </div>
            <div class="row">
                <div class="row-img">
                    <img src="img/futbol2.jpg">

                </div>
                <h4>Equipo1</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="img/futbol3.jpg">

                </div>
                <h4>Equipo2</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="img/futbol4.jpg">

                </div>
                <h4>Equipo3</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="img/futbol5.jpg">

                </div>
                <h4>Equipo4</h4>
            </div>
        </div>



    </section>
    <section class="columna2">
        <div data-aos="zoom-in-right" class=col_conte2>
            <div class="row1">
                <div class="row-img1">
                    <img src="img/fut.png" alt="Imagen de futbol">
                </div>
            </div>
            <div class="row1">
                <div class="home-text1">
                    <h5 id = "typed2">Oferta del equipo</h5>
                    <h1>Aparta tu equipo</h1>
                    <p>Has tu reservacion de tu equipo favorito con anticipacion</p><br> Y tendras un descuento adicional</p>
                    <a href="#" id = "btn-aceptar" class="btn_2">Aceptar</a>
                </div>
            </div>
        </div>

    </section>
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Acerca de Nosotros</h4>
                <p>Somos la mejor plataforma para reservar mesas en tus restaurantes favoritos de manera rápida y sencilla.</p>
            </div>
            <div class="footer-section">
                <h4>Síguenos</h4>
                <ul class="socials">
                    <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                    <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                    <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                    <li><a href="#"><i class='bx bxl-youtube'></i></a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Enlaces Útiles</h4>
                <ul class="footer-links">
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#info">Información</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <!-- Puedes agregar más secciones aquí si lo deseas -->
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Reser Santi. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="js/script.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
    </script>
</html>